:root{
    --bg: lightblue;
    --bglish: #333;
    --whiteish: #eee;
    --txt: black;
}
*{
    margin: 0 5% 0 5%;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
    font-weight: 500;
    height: 2rem;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
a:hover{
    color: orange;
}
a{
    text-decoration: none;
    color: #eee;
}
img{
    position: absolute;
    z-index: 10;
    width: 29%;
    top: 10%;
    animation: 60s linear infinite;
    animation-name: cloudslide;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
@keyframes cloudslide{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}
.introwrapper{
    margin: 10% 0% 10% 0%;
    display: flex;
    flex-wrap: wrap;
    z-index: 15;
}
h1{
    font-size: 5rem;
    color: var(--txt);
}
.first{
    color: orange;
    margin-right: 0px;
}
.second{
    margin-left: 5px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.innerwrapper{
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.third{
    font-size: 2rem;
    color: white;
    margin-bottom: 25px;
}
.button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 34px;
    font-size: 18px;
    font-family: sans-serif;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
a span{
    position: relative;
    z-index: 2;
    color: var(--bglish);
}
.button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: orange;
    transition: all .35s;
}
.button:hover{
    color: black;
}
.button:hover:after{
    width: 100%;
}
.projects{
    padding: 30px 25px 30px 25px;
    background-color: var(--whiteish);
    color: white;
    border-radius: 10px;
}
.projects h1{
    font-size: 35px;
}
.projects h2{
    letter-spacing: 1px;
    color: orange;
}
.projects p{
    font-size: 20px;
    color: var(--txt);
}
a.smallbutton{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid var(--txt);
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: var(--txt);
    text-align:center;
    transition: all 0.2s;
}
a.smallbutton:hover{
    color:#000000;
    background-color:#FFFFFF;
}
#proj{
    animation-name: projslide;
    animation-duration: 1.5s;
}
@keyframes projslide{
    from{
        margin-left: -100%;
        width: 90%;
    }
    to{
        margin-left: 5%;
        width: 90%;
    }
}
#aboutme{
    margin-top: 75px;
    animation-name: aboutslide;
    animation-duration: 1.5s;
}
@keyframes aboutslide{
    from{
        margin-left: 100%;
        width: 90%;
    }
    to{
        margin-left: 5%;
        width: 90%;
    }
}
#aboutme .abtwrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 0px 0px;
}
#aboutme p{
    font-size: 1.05vw;
}
.projects #interests{
    width: 33%;
    height: 100%;
    margin-right: 0px;
}
.projects #academics{
    width: 38%;
    height: 100%;
}
.projects #experience{
    width: 33%;
    height: 100%;
    margin-left: 0px;
}
#contact{
    margin-top: 75px;
}
#contact form {
    text-align: center;
    border: 1px solid var(--txt);
    padding: 30px;
    margin: 0px 0px 0px 0px;
}
label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}
label .label-text {
    color: var(--txt);
    cursor: text;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}
label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--txt);
    color: var(--txt);
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 300px;
}
label input:focus {
    max-width: 100%;
    width: 400px;
}
label input:focus + .label-text  {
    color: orange;
    font-size: 13px;
    margin-top: 10px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}
label input:valid + .label-text {
    font-size: 13px;
    color: #90ee90;
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}
button {
    background: transparent;
    color: var(--txt);
    border: 2px solid var(--txt);
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 30px 30px 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    /*! margin-top: 15px; */
}
button:hover, button:focus {
    background-color: white;
    color: #333333;
}
.footer{
    margin: 30px 0px 15px 0px;
    color: white;
    text-align: center;
}
.footer a{
    margin: 0px;
}

@media (prefers-color-scheme: dark){
    :root{
        --bg: black;
        --txt: white;
    }
    img{
        display: none;
    }
    p, h1{
        color: var(--txt);
    }
    .second{
        background: linear-gradient(to right,#eee 0%, var(--bglish) 120%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a span{
        color: #eee;
    }
    .projects{
        background: var(--bglish);
    }
}

@media (max-width: 1000px) {
    img{
        display: none;
    }
    .abtwrapper{
        flex-direction: column;
    }
    .abtwrapper p{
        font-size: 20px !important;
    }
    .projects #interests{
        width: 100% !important;
        margin: 0px;
    }
    .projects #academics{
        width: 100% !important;
        margin: 0px;
    }
    .projects #experience{
        width: 100% !important;
        margin: 0px;
    }

}